- content_for :javascript do
  = javascript_include_tag 'grade'
= simple_form_for(@grade) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, :as => :text, :required => true, :input_html => {:cols => 20, :rows => 5}
    = f.input :student_fee
    = f.input :sponsor_fee
    = f.input :batch_duration
    = f.input :session_duration
  .form-actions
    = f.button :submit
