%h1 Subjects taught in #{@grade.title}
%h2 Marking pattern
%table.table
  %tr
    %th Subject name
    %th Mark
  
  - @marking_pattens.each do |marking_patten|
    %tr
      %td= marking_patten.subject.subject
      %td= marking_patten.marks
      %td= link_to "Remove", destroy_marking_patten_path(marking_patten), :method => :delete, :data => { :confirm => 'Are you sure?' }
- if @marking_pattens.size > 0
  = link_to  '<button type="button">Update marking pattern</button>'.html_safe, update_multiple_path(@grade.id)

- if @subjects.size > 0 
  %h2 Introduce new subjects
  = simple_form_for subjects_list_path, method: :post do |f|
    %table.table
      %tr
        %th Select subjects
        %th Subject name

      - @subjects.each do |subject|
        %tr
          %td= check_box_tag "subjects[]", subject.id
          %td= subject.subject


    = submit_tag "Assign subjects"
 