- content_for :javascript do
  = javascript_include_tag 'grade'
%h2 Marking pattern
= simple_form_for @marking_pattens, url: update_multiple_path, method: :put do |f|
  %table.table
    %tr
      %th
      %th Subject name
      %th#marks Mark
      %th Action
  
    - @marking_pattens.each do |marking_patten|
      %tr
        %td= hidden_field_tag "marking_patterns_ids[]", marking_patten.id
        %th{:id => "s_#{marking_patten.id}"}= marking_patten.subject.subject
        %td{:headers => "s_#{marking_patten.id} marks"}= text_field_tag "marking_patterns[#{marking_patten.id}]", "#{marking_patten.marks}"
        %td= link_to "Remove", destroy_marking_patten_path(marking_patten), :method => :delete, :data => { :confirm => 'Are you sure?' }
  = submit_tag "Update marking pattern"    
  = link_to '<button type="button">Cancel</button>'.html_safe, subjects_list_path(@grade.id) 
