- content_for :javascript do
  = javascript_include_tag 'setup_lecture_session_date'
= simple_form_for ([@batch, @lecture]) do |f|
  = f.error_notification

  .form-inputs
    %table.table
      %tr
        %th 
        %th Assign Homework
        %th Session Date
        %th Add Remarks
      %tr
        %td= f.hidden_field :batch_id
        %td= f.input :assign_homework, as: :boolean
        %td
          = f.input :session_date, :label => "Session Date" do
            = f.input_field :session_date, :as => :datepicker, :readonly => true
            %a{:href => '#', :id => 'imgCalendar_session_date', :class => 'datePicker'}
              = image_tag('Calendar_scheduleHS.png', :alt => 'Pick date from calendar' )
              = link_to 'Need Help?', calenderhelp_path, "data-toggle" => "modal", "data-target" => "#calendermodel", :class => "lnkApprove", :remote => true, :class => 'btn btn-mini'
        %td= f.input :remarks, :as => :text

  %h2 Student Attendents
  %table.table
    %tr
      %th
      %th Student Name
      %th{:id=>"attendence"} Student Attendents
      %th{:id=>"homework"}  Homework Done
    - if @batch.students.size > 0

      - @batch.students.each do |student|
        %tr
          %td= hidden_field_tag "students[]", student.id
          %th{:id=>"s_#{student.id}"}= student.first_name + " " + student.last_name
          %td.cls{:headers=>"s_#{student.id} attendence"}= check_box_tag "presenty[#{student.id}][attendent]"
          %td.vishal{:headers=>"s_#{student.id} homework"}= check_box_tag "presenty[#{student.id}][done_homework]"
  = f.submit "Create new session"

  %div{:id => 'calendermodel', :class => 'modal hide fade-calenderhelp', :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
    %div{:class => 'modal-header-calenderhelp'}
      %h3 Instructions:      

    %div{:class => 'modal-body'}
      %div{:class => 'modal-footer-calenderhelp'}

