= simple_form_for ([@batch, @lecture])  do |f|
  = f.error_notification

  .form-inputs
    %table.table
      %tr
        %th 
        %th Assign Homework
        %th Session Date
        %th Add Remarks
      %tr
        %td= f.input :assign_homework, as: :boolean
        %td= f.input :session_date, :label => "Session Date", :as => :datepicker, :readonly => true
        %td= f.input :remarks, :as => :text
  %h2 Student Attendents
  %table.table
    %tr
      %th
      %th Student Name
      %th{:id=>"attendence"} Student Attendents
      %th{:id=>"homework"}  Homework Done
    - @lecture.students.each do |student|
      %tr
        %td= student.first_name.capitalize + " " + student.last_name.capitalize
        - @lecture.presenties.each do |presenty|
          %td= presenty