%h1 Showing all sessions  witch is for #{@batch.title}

%table.table

  %tr

    %th Session date
    %th Assign Homework

    %th Description

  - @lectures.each do |lecture|

    %tr

      %td= lecture.session_date

      - if lecture.assign_homework

        %td Yes

      -else

        %td no
      %td= lecture.remarks
      %td= link_to "Show details", details_path(lecture)

%br

= link_to "Create New Lecture", new_batch_lecture_path
