- content_for :javascript do
  = javascript_include_tag 'setup_admission_date', 'student'
= simple_form_for @admission, :url => addmition_path(@student), method: :post do |f|
  = f.input :admission_date, :label => 'Admission date' do
    = f.input_field :admission_date, :as => :datepicker, :readonly => true
    %a{:href => '#', :id => 'imgCalendar_admission_date', :class => 'datePicker'}
      = image_tag('Calendar_scheduleHS.png', :alt => 'Pick date from calendar' )
      = link_to 'Need Help?', calenderhelp_path, "data-toggle" => "modal", "data-target" => "#calendermodel", :class => "lnkApprove", :remote => true, :class => 'btn btn-mini'
  = f.input :qualifies_with, collection:['Previous grade clearance', 'Entrance test clearance'], as: :radio_buttons
  = f.input :grade_id, :collection => Grade.all.entries, :value_method => :id, :label_method =>  :title, :input_html => {:id => "comgrade"}, :prompt => "Select Grade"
  = f.input :student_fee, :label => "Student has paid Rs.", :readonly => true, :input_html => {:id => "text_student_fees"}
  = f.input :sponsor_flag, as: :boolean, :label => "Student needs sponsorship", :input_html => {:id => "sponsor_required"}
  #sponsorship_details{:style => "display:none;"}
    = f.input :sponsor_id, :collection => Sponsor.all.entries, :value_method => :id, :label_method =>  :first_name, :prompt => "Select Sponsor"
    = f.input :sponsor_fee, :label => "Sponsor has paid Rs.", :readonly => true, :input_html => {:id => "text_sponsor_fees"}
  = f.hidden_field :student_id
  = f.submit"submit"

  %div{:id => 'calendermodel', :class => 'modal hide fade-calenderhelp', :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
    %div{:class => 'modal-header-calenderhelp'}
      %h3 Instructions:      

    %div{:class => 'modal-body'}
      %div{:class => 'modal-footer-calenderhelp'}

