%h1 Assign students for #{@batch.title} held on #{@batch.deys_of_week} from #{@batch.from_time.strftime('%H:%M')} to #{@batch.end_time.strftime('%H:%M')}
%h2 Student name and Batch
%table.table
  %tr
    %th Student name
    %th
  - @batch.students.each do |bs|
    %tr
      %td= bs.first_name.capitalize + " " + bs.last_name.capitalize
%br
- if @stdnt.size > 0
  %h2 Assign batch to student
  = simple_form_for assignbatch_path, method: :post do |f|
    %table.table
      %tr
        %th Select Student
        %th Student name

      - @stdnt.each do |student|
        %tr
          %td= check_box_tag "students[]", student.id
          %td= student.first_name.capitalize + " " + student.last_name.capitalize

    = submit_tag "Assign student"

