= simple_form_for(@city) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :collection => City.all.entries, :prompt => "Select city" 
    = f.association :state, :collection => State.all.entries, :prompt => "Select state"

  .form-actions
    = f.button :submit
