%h1 Showing all exams

%table
  %tr
    %th Exam Name
    %th Exam Date
    %th Action

  - @exams.each do |exam|
    %tr
      %td= exam.exam_name
      %td= exam.exam_date
      - if current_user.roles != 'student'
        %td= link_to "Set paper", setpaper_path(exam)
        %td= link_to "Change setting of paper", setting_path(exam)
      - elsif current_user.roles == 'student'
        - if Date.today == exam.exam_date
          %td= link_to "Give exam", giveexam_path(exam)

%br

- if current_user.roles != 'student'
  = link_to 'New Exam', new_grade_exam_path
