= content_for :left_menu do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
      - if params[:controller] == "students"
        %li Student
        = link_to 'New Student', new_student_path
      - elsif params[:controller] == "students" && params[:action] == "new"
        %li New
      - elsif params[:controller] == "grades"
        %li Grade
        = link_to 'New Grade', new_grade_path
        %li
      - elsif params[:controller] == "grades" && params[:action] == "new"
        %li new       
      - elsif params[:controller] == "batches"
        %li Batch
        %li
      - elsif params[:controller] == "batches" && params[:action] == "new"
        %li new  
      - elsif params[:controller] == "sponsors"
        %li Sponsor
        = link_to 'New Sponsor', new_sponsor_path
        %li
      - elsif params[:controller] == "sponsors" && params[:action] == "new"
        %li new 
      - elsif params[:controller] == "trainers"
        %li Trainer
        = link_to 'New Trainer', new_trainer_path
        %li
      - elsif params[:controller] == "trainers" && params[:action] == "new"
        %li new
      - elsif params[:controller] == "cities"
        %li City
        = link_to 'New City', new_city_path
        %li
      - elsif params[:controller] == "cities" && params[:action] == "new"
        %li new
      - elsif params[:controller] == "states"
        %li State
        = link_to 'New State', new_state_path
        %li
      - elsif params[:controller] == "states" && params[:action] == "new"
        %li new 
      - elsif params[:controller] == "subjects"
        %li Subject
        = link_to 'New Subject', new_subject_path
        %li
      - elsif params[:controller] == "subjects" && params[:action] == "new"
        %li new  
      - elsif params[:controller] == "enquiries" && params[:action] == "studentinfo"
        %li StudentEnquiry
      - elsif params[:controller] == "enquiries" && params[:action] != "studentinfo"
        = link_to 'New Enquiry', new_enquiry_path
        %li
      - elsif params[:controller] == "admissions"
        %li Admission
        = link_to 'New Admission', new_admission_path
        %li
      - elsif params[:controller] == "admissions" && params[:action] == "new"
        %li new 	

