%h2 Ability Of Trainers
%h3 Trainers Grades and their Subjects
= simple_form_for ability_path, method: :post do |f|
  = f.hidden_field :trainer_id
  %table.table
    %tr
      %th Grade Title
      %th Subjects
    - @marking_pattens.each do |grade|

      %tr
        %td= grade.grade.title
        - grade.grade.marking_pattens.each do |grade|
          = check_box_tag "grade[]", grade.id
          %td= grade.subject.subject
  = submit_tag "create"	