%h1 Trainers list

= form_tag destroy_multiple_trainers_path, method: :delete do
  %table.table
    %tr
      %th Select trainer
      %th Full name
      %th
      %th

    - @trainers.each do |trainer|
      %tr
        %td= check_box_tag "trainers[]", trainer.id
        %td= trainer.first_name.capitalize + " " + trainer.last_name.capitalize
        %td= link_to 'Show', trainer
        %td= link_to 'Edit', edit_trainer_path(trainer)
        %td= link_to 'Ability', ability_path(trainer)
        %td= link_to "Show Ability of trainer", display_path(trainer)
  = submit_tag "Delete selected"
  = link_to '<button type ="button">New Trainer</button>'.html_safe, new_trainer_path
    
    